* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   /* background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%) no-repeat;*/
    background-size: 100%;
}

header {
    margin: .5em;
}
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
header .name_logo {
    font-size: 25pt;
    font-family: Merriweather;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    line-height:1.2;
}

header .name_logo .last_name {
    margin-left: 1.8em;
    
}

nav {
    background: #3a92c2d7;
    height: max-content;
    width: 100%;
    padding: 1em;
    font-size: 12pt;
    font-family: poppins, Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: flex-end;
}

nav .nav_item_container {
    list-style-type: none;
    display: flex;
    gap: 2.5em;
    align-items: center;
}

nav .nav_item_container .hamburger_icon {
    height: 1em;
    width: auto;
    margin-bottom: -.2em;
}

nav .nav_item_container li {
    cursor: pointer;
    text-decoration: none;
}
nav .nav_item_container li a{
    text-decoration: none;
}

nav .nav_item_container li:hover {
    color: #4e4e4e;
}

main {
    display: flex;
    height: max-content;
    width: auto; /*Because of the margin*/
    justify-content: space-evenly;
    margin: .8em;
	box-shadow: 0px 0px 10px #03263459;
    border-radius: 10px;
	background-image: linear-gradient(to right, #e5e2e2, #ebe9ea, #f2f0f1, #f8f8f8, #ffffff);
	border: 1px solid #d2d0d0;
}

main .my_profile_picture {
    height: 17em;
}
main .my_profile_picture {
    position: relative;
    overflow: hidden;
  }
.my_profile_picture img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

main .introduction_myself {
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 20px;
    max-width: 70%;
	min-width: 20%;
    height: max-content;
    font-family: 'poppins';
    background-color: #cdd2d508;
}
.introduction_myself p {
    margin: .8em 0;
}
.introduction_myself .name_intro {
    color: #0e6296;
    font-weight: 600;
    font-family: poppins;

}
.introduction_myself .org_intro {
    color: #0e6296;
    font-weight: 600;
    font-family: nato-devanagari;
}
photos h2 {
    text-align: center;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: .8em auto;
}
.photo_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:max-content;
	padding: 1.3em;
    margin: 0.8em;
    border: 1px solid #ddd;
    border-radius: 10px;
    gap: 1.3em;
	box-shadow: 0px 0px 10px #03263459;
    border-radius: 10px;
}
photos .photo_container .photo {
    height: 293px;
    width:293px;
    
}
.photo img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
footer{
	position: relative;
	bottom: 0;
}
.footer-distributed{
	background-color: #33383b;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-r_l-center{
	display: flex;
	vertical-align: top;
	justify-content: center;
}
 
.footer-distributed .footer-left{
	width: 50%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font-family: Segoe UI;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-right{
	width: 45%;
}
 
.footer-distributed .footer-right i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-right i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-right p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-right p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-right p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-r_l-center{
	width: 100%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-right,
	.footer-distributed .footer-r_l-center{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-right i{
		margin-left: 0;
	}
}
